.mat-card {
  margin: 5px;
  padding: 2px;
  margin-bottom: 10px;
  padding-bottom: 30px;

}

.mat-card-header {
  background-color: rgb(235, 235, 235);
  padding: 20px;
  padding-bottom: 5px;
  margin: 0;
  margin-bottom: 2px;
}

.mat-grid-list {
  max-width: 800px;
  margin: auto;
}

.mat-card-content {
  margin: 20px;
  margin-top: 10px;
}

img {
  margin: auto;
  margin-top: 10px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.card-action {
  margin: 0px 20px;
}

p {
  height: 100px;
  overflow: auto;
}

.response {
  position: relative;
  height: 220px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.mat-spinner {
  margin: 0 auto;
}
